.flex-estim {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.car-card {
  width: 450px;

}

.contrat {
  width: 450px;
}

.estimer {
  width: 450px;

}

.tarif {
  border: solid 1px $black;
  padding: 10px;
  border-radius: 2px;
  background-color: #DEDEDE;
}

.estimation-result {
  border: solid 1px $yellowsmap;
  padding: 10px;
  border-radius: 2px;
  background-color: #DEDEDE;
}

.result-estim {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reduction {
  font-size: 30px;
}
