// Specific CSS for your home-page
body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 18px;
  min-height: 500px;
  background: white;
}
p {
  font-weight: lighter;
}
h1, h2, h3, hr, li, a {
  font-family: 'Raleway';
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
h3 {
  font-size: 15px;
}
.padded {
  padding: 30px 0;
}
