.cars-container {
  padding: 2em 1em 1em 1em;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-grow {
  flex-grow: 1;
}

.filter-container {
  flex-basis: 250px;
  background: #cccccc17;
  padding: 2em 1em 1em 1em;
  border-right: 1px solid #efefef;
}

.searchbar {
  position: relative;
}

#hits {
  margin-top: 1em;
}

.ais-search-box {
  width: 100% !important;
  max-width: none;
}

.ais-search-box--input {
  font-size: 20px;
  padding-left: 40px;
}

.algoli-logo {
  position: absolute;
  z-index: 1;
  right: 10px;
  font-size: 1.6em;
  top: 10px;
  color: #0000005c;
}

.ais-search-box--magnifier {
  top: 16px;
  left: 14px;
  transform: scale(1.2);

  svg {
    fill: #0000006b;
  }
}

.ais-refinement-list--label {
  input {
    display: none;
  }

  color: black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;

  &:hover {
    color: $yellowsmap;
  }
}

.ais-refinement-list--item__active {

}

.ais-refinement-list--count {
  background: rgba(175, 175, 175, 0.2);
  color: black;
}

.ais-clear-all--link {
  background-color: #bcbcbc;
  opacity: 0.9;
  margin-bottom: 1em;
  display: block;
  text-align: center;
  font-size: 0.9em;

  &:hover {
    background-color: darken(#bcbcbc, 10%);
    opacity: 1;
  }
}

.ais-clear-all--link-disabled {
  color: black;
  opacity: 0.6;
  a {
    color:black;
    &:focus {
      color:black;
    }
  }
}

.body-wrap {
  position: relative;
  min-height: calc(100vh - #{$footer-height} - #{$navbar-height});
}
