.driver_profiles.profile {
  font-size: 20px;
  margin: 10;

  h1 {
    font-size: 20px !important;
    color: #616668 !important;
  }

  a {
    font-size: 15px;
    font-style: italic;
    color: #616668 !important;
  }
}

