.cars.show {
  background: #F1F1F1;
  .dash {
    background-color: white;
    box-shadow: 0px 2px 11px -3px gray;
  }
}

.flex-show {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:  15px;
}

.dash {
  border: 1px solid #eaeaea;
  background: white;
  padding: 1em;
}

.car-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.container-car {
  width: 1000px;
  margin: 0 auto;
}

.show-list {
  height: 84%;
}

.show-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 20px;
}

.grow {
  flex-grow: 1;
}

.info-container {
  padding-top: 20px;
  display:flex;
  justify-content: space-between;
}

.contract-container {
  flex-grow: 1;
}

.description {
  p {
    line-height: 2;
  }
}

.contract {
  display: flex;
  align-items: center;
  flex-basis: 460px;
}

.car-picture {
  box-shadow: 4px 4px 15px -1px gray;
}

.contract-text {
  ul {
    margin: 30px 0;
  }
}
