.smap-color {
  font-color: #F7D534;
  color: #F7D534;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:  15px;
}

.tabs {
  // background: #53443F;
  display: flex;
  border: 1px solid #eaeaea;
  justify-content: space-around;
  border-radius: $border-radius-base $border-radius-base 0 0;
  border-bottom: none;
}
.tabs a {
  color: #666666;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 15px;
  margin: 0;
}
.tabs h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background-color: #eaeaea;
  text-align: center;
  flex-grow: 1;
}

.tab.active {
  background: white;
  color: $black;
  border: 1px solid #eaeaea;
  border-bottom: 2px solid #F7D534;
}

.dash {
  border: 1px solid #eaeaea;
  padding: 10px 20px 20px 20px;
}

.icon-list{
  display:flex;
  margin: 0;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
}

.icons-li {
  display:flex;
  align-items:center;
  font-size: 20px;
}

.car-dash {
  display: flex;
  align-items: center;
}

.car-avatar {
  border-radius: $border-radius-base;
}

.avatar-main {
  border-radius: 50%;
  border: 3px solid #F7D534;
}

.avatar {
  border-radius: 50%;
}

.avatar-courte {
  border-radius: 50%;
  border: 2px solid #F7D534;
}


.principal {
  h6 {
  text-decoration: underline;
  }
  p {
    font-size: 12px;
    text-decoration: none;
  }
  a {
    font-size: 12px;
    margin: 3px;
  }
  i {
    margin: 3px;
  }
}

.secondaire p {
    font-size: 12px;
    text-decoration: none;
}
.conducteurs {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.add-driver {
  height: 106px;
  width: 106px;
  border-radius: 50%;
  border: 3px solid #F7D534;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
  transition: all 0.4s ease;
  &:hover {
    text-decoration: none;
    background-color: #eaeaea;
  }
}

.fas.fa-check {
  color: #00FF80;
}

.dashboard {

  h1, h5, h6 {
    color: #616668;
    font-size: 14px !important;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.profil {
  margin-top: 10px;
}

caption {
  font-family: 'open sans';
  font-style: lighter;
  font-size: 18px;
  color: black;
  margin: 10px;
}

table
{
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    vertical-align:middle;
    width:80%;
    margin: auto;
    padding: 15px;
}
tbody
{
border-radius: 10px 10px 0 0;
}

td
{
    border: 0.5px outset #eaeaea;
    border-bottom-style: none;
    border-top-style: none;
    font-family: 'Open sans';
    font-weight: light;
    font-size: 16px;
    padding:5px;
}

th
{
    border: 0.5px outset #eaeaea;
    font-family: 'Raleway';
    font-weight: bold;
    padding:5px;
    border-top-style: none;
}

p{
  font-size:14px;
}


