<div class="banner" style="background-image: url('https://media.gettyimages.com/photos/woman-driving-a-car-picture-id641796976');">

  <div class="btn--discover">
    <button type="button" class="_1pxt92ph" aria-busy="false">
      <span class="_vjhf3r6">
        <%= link_to " Découvrir les véhicules Smap",  cars_path , class: "_1ho874em" %>
      </span>
    </button>
  </div>

  <p class="tagline-first-line">Ma solution mobilité</p>
  <p class="tagline-second-line">à budget contrôlé</p>
</div>
