<div class="banner" style="background-image: url('http://res.cloudinary.com/dn3sbzgqs/image/upload/v1520333606/banner.jpg');">
  <div class="banner-content">
    <h1>hljhl</h1>
    <p>nlknklnln</p>
  </div>
  <%= render 'shared/searchbar.html.erb' %>
</div>
