<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://media.gettyimages.com/photos/woman-driving-a-car-picture-id641796976');">

  <div class="btn--discover">
    <p class="tagline-first-line">Mon budget auto simplifié et optimisé</p>
    <!-- <p class="tagline-second-line">à budget contrôlé</p> -->

    <%= link_to "Découvrir les véhicules Smap",  cars_path, class: "btn-smap" %>
  </div>
</div>
