
<div class="banner" style="background-image: url('https://media.gettyimages.com/photos/woman-driving-a-car-picture-id641796976');">
  <div class="banner-content">
    <h1>hljhl</h1>
    <p>nlknklnln</p>
  </div>
</div>

