<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/smap_mobility/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/smapmobility/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/Smap_mobility"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-copyright">Made at Le Wagon Lyon</div>
</div>


