<div class="container">
  <div class="homecards">
    <div class="row">
      <div class="col-xs-3 col-sm-3">
        <div class="homecard">
          <div class="img-container"><%= image_tag '1.png' %></div>
          <p>Je choisis le modèle de mon véhicule à tarif mensuel pour 24 mois</p>
        </div>
      </div>

      <div class="col-xs-3 col-sm-3">
        <div class="homecard">
          <div class="img-container"><%= image_tag '2.png' %></div>
          <p>Je renseigne les disponibilités de mon véhicule pour le sous louer</p>
        </div>
      </div>

      <div class="col-xs-3 col-sm-3">
        <div class="homecard">
          <div class="img-container"><%= image_tag '3.png' %></div>
          <p>Grâce au boîtier installé sur le véhicule, pas besoin de rencontrer le sous locataire: il pourra ouvrir les portes grâce à son smartphone</p>
        </div>
      </div>

      <div class="col-xs-3 col-sm-3">
        <div class="homecard">
          <div class="img-container"><%= image_tag '4.png' %></div>
          <p>Mon budget automobile est réduit et simplifié</p>
        </div>
      </div>
    </div>
  </div>
</div>

