<div class="container">

  <div class="row">

    <div class="col-xs-3 col-sm-3">
      <div class="homecard" style="background-image: url('<%= image_path 'jaune.png' %>');">
        <div class="homecard-category">1</div>
        <div class="homecard-description">
          <h2>ghfdgfjhfvh</h2>
          <p>hjvhv, fhfjyhlf</p>
        </div>
        <a class="homecard-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>

    <div class="col-xs-3 col-sm-3">
      <div class="homecard" style="background-image: url('<%= image_path 'jaune.png' %>');">
        <div class="homecard-category">2</div>
        <div class="homecard-description">
          <h2>ghfdgfjhfvh</h2>
          <p>hjvhv, fhfjyhlf</p>
        </div>
        <a class="homecard-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>

    <div class="col-xs-3 col-sm-3">
      <div class="homecard" style="background-image: url('<%= image_path 'jaune.png' %>');">
        <div class="homecard-category">3</div>
        <div class="homecard-description">
          <h2>ghfdgfjhfvh</h2>
          <p>hjvhv, fhfjyhlf</p>
        </div>
        <a class="homecard-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>

    <div class="col-xs-3 col-sm-3">
      <div class="homecard" style="background-image: url('<%= image_path 'jaune.png' %>');">
        <div class="homecard-category">4</div>
        <div class="homecard-description">
          <h2>ghfdgfjhfvh</h2>
          <p>hjvhv, fhfjyhlf</p>
        </div>
        <a class="homecard-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>

  </div>
</div>
