<div class="navbar-smap">
  <!-- Logo -->
  <a href="/" class="navbar-smap-brand">
    <%= image_tag "logo.png"%>
  </a>

  <!-- Right Navigation -->

  <div class="navbar-smap-right">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-smap-item">
      <div class="dropdown">
        <% if current_user && current_user.avatar_photo != nil  %>
        <%= image_tag current_user.avatar_photo, class:"avatar dropdown-toggle", id:"navbar-smap-menu", data: { toggle: 'dropdown' } %>
        <% else %>
        <%= image_tag ("profil.png"), class:"avatar dropdown-toggle", id:"navbar-smap-menu", data: { toggle: 'dropdown' } %>
        <% end %>
       <ul class="dropdown-menu dropdown-menu-right navbar-smap-dropdown-menu">
          <li><a href="#">Profil</a></li>
          <li><a href="#">Tableau de bord</a></li>
          <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


