<div id="slider">
  <h1>Les véhicules Smap</h1>
  <figure>
    <img src="https://images.caradisiac.com/images/3/0/6/0/113060/S0-le-peugeot-3008-est-elu-voiture-de-l-annee-2017-397906.jpg" alt>
    <img src="https://images.caradisiac.com/images/3/0/6/0/113060/S0-le-peugeot-3008-est-elu-voiture-de-l-annee-2017-397906.jpg" alt>
    <img src="https://images.caradisiac.com/images/3/0/6/0/113060/S0-le-peugeot-3008-est-elu-voiture-de-l-annee-2017-397906.jpg" alt>
    <img src="https://images.caradisiac.com/images/3/0/6/0/113060/S0-le-peugeot-3008-est-elu-voiture-de-l-annee-2017-397906.jpg" alt>
        <img src="https://images.caradisiac.com/images/3/0/6/0/113060/S0-le-peugeot-3008-est-elu-voiture-de-l-annee-2017-397906.jpg" alt>

  </figure>
</div>
