<div id="slider">
  <h1>Les véhicules Smap</h1>
  <figure>
    <img src="https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/global/fleet/feature/fiat-500-feature.jpg" alt>
    <img src="https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/global/fleet/select/feature/sideview/audi-q2-sideview-select-feature.jpg" alt>
    <img src="https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/global/fleet/feature/renault-grand-scenic-sideview-feature.jpg" alt>
    <img src="https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/global/fleet/feature/alfa-romeo-giulia-sideview-feature.jpg" alt>
    <img src="https://avisassets.abgemea.com/.imaging/featureImageLarge/dms/DMS/global/fleet/feature/renault-trafic-passenger-new-feature.jpg" alt>

  </figure>
</div>
