<div class="container">
  <h1 class="text-center" >Tableau de bord</h1>
  <div class="dash">
    <div class="tabs">
      <a class="tab" href="<%= dashboard_path %>">
        <h3>Ma voiture SMAP</h3>
        <h2><i class="fas fa-car"></i></h2>
      </a>
      <a class="tab active" href="<%= dashboard_slot_path %>">
        <h3>Mes disponibilités</h3>
        <h3>et adresses</h3>
        <h2><i class="fas fa-address-card"></i></h2>
      </a>
      <a class="tab" href="<%= dashboard_bill_path %>">
        <h3>Ma facture</h3>
        <h2><i class="far fa-money-bill-alt"></i></h2>
      </a>
    </div>
  </div>
</div>

