.btn-smap {
  background-color: $yellowsmap;
  color: $black;
  padding: 10px 20px;
  opacity: 1;
  border-radius: $border-radius-base;
  transition: all 0.3s ease;
  display: inline-block;

  &:hover {
    opacity: 0.8;
    text-decoration:none;
  }
}

a.btn-smap:hover {
  color: $black;
}

.btn-smap-secondary {
  padding: 0.5em 0.8em;
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 4px;
  color: #888;
  transition: all 0.15s ease;

  &:hover {
    text-decoration: none;
    background-color: $yellowsmap;
    border-color: $yellowsmap;
    color: $black;
  }
}
