.banner {
  color: black;
  text-align: center;
  height: calc(100vh - 310px);
  padding: 50px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;

}
.banner-content {
 h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-shadow: 0px 1px rgba(51, 54, 68, 0.2);
  opacity: 0.6;
  font-family: 'Raleway';
  text-align: right;
}

 p {
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Open sans';
  color: black;
  margin-bottom: 30px;
}
}

