.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
  background-size: cover;
  text-align: center;
  background-position: 50% 14%;

  .tagline-first-line {
    font-size: 3em;
    color: #efefef;
    font-weight: 400;
  }

  .btn-smap {
    padding: 1.5em 2em;
    margin-top: 1em;
  }
}