<div class="container">
  <h1 class="text-center">Les voitures SMAP</h1>
  <div id="search-box">
  </div>

  <div id="brand">
  </div>

  <div id="current-refined-values">

  </div>

  <div id="monthly_price"></div>

  <div id="clear-all">

  </div>
  <div class="row">
    <div id="hits"></div>
  </div>
</div>
